AddHandler fastcgi-script .py
Options +ExecCGI -Indexes
AddDefaultCharset utf-8
ServerSignature Off
ErrorDocument 404 /404.html

<FilesMatch "\.py$">
Order Deny,Allow
Deny from all
</FilesMatch>

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css
AddOutputFilterByType application/x-javascript text/javascript application/javascript application/json
</IfModule>

RewriteEngine On
RewriteBase /

# redirect invalid domain names
RewriteCond %{HTTP_HOST} !^(api\.|moar\.)?automeme.net$ [NC]
RewriteCond %{HTTP_HOST} !^meme\.boxofjunk\.ws$ [NC]
RewriteRule ^(.*)$ http://automeme.net/$1 [R=301,L]

# api domain
RewriteCond %{HTTP_HOST} ^api\.automeme.net$ [NC]
RewriteRule ^$ api.html [QSA,L]

# redirect the old domain name for the front page only
RewriteCond %{HTTP_HOST} !^automeme.net$ [NC]
RewriteRule ^$ http://automeme.net/ [R=301,L]

RewriteRule ^$ index.cgi [QSA,L]
RewriteRule ^moar.(txt|html)$ raw.cgi?format=$1 [QSA,L]
RewriteRule ^moar.(txt|html).json$ raw.cgi?format=$1&json=1 [QSA,L]
RewriteRule \.py - [F,L]

RewriteRule ^stuff.html$ goodies.html [R=301,QSA,L]
