AddHandler fastcgi-script .py
Options +ExecCGI -Indexes
AddDefaultCharset utf-8
ServerSignature Off
ErrorDocument 404 /404.html

<FilesMatch "\.py$">
Order Deny,Allow
Deny from all
</FilesMatch>

RewriteEngine On
RewriteBase /
RewriteRule ^(pc/?)?$ index.cgi [QSA,L]
RewriteRule ^moar.(txt|html)$ raw.cgi?format=$1 [QSA,L]
RewriteRule ^moar.(txt|html).json$ raw.cgi?format=$1&json=1 [QSA,L]
RewriteRule \.py - [F,L]
