html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, b, cite, code,
del, dfn, em, i, img, ins, kbd, q, samp,
strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
    {margin:0; padding:0; border:0; outline:0; font-size:100%;
     vertical-align:baseline; background:transparent;}
html {font-size:100.01%;}
caption, cite, code, dfn, th, var {font-style:normal; font-weight:normal;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
:focus {outline:0;}
ins {text-decoration:underline;}
del {text-decoration:line-through;}
table {border-collapse:collapse; border-spacing:0;}

body {background:#eed; color:#A00; text-rendering:optimizeLegibility;
      font:12pt/1.5 'Helvetica Neue','DejaVu Sans','Helvetica',sans-serif;}
#body {margin:3em 4em;}
h1 {font-weight:bold; font-size:3em; margin-bottom:0.5em; line-height:1;
    text-shadow:1px 2px 1px #fff; max-width:13.5em;}
h2 {font-size:1.5em; margin:2em 0 1em; line-height:1;}
h3 {font-weight:bold; font-size:1.25em; line-height:1.2;}
p, pre {margin-bottom:1.5em;}
pre, code {color:#622; font-size:1em;}
ul {margin:0 0 1.5em 2em; list-style:square;}
ul.urls {list-style:none;}
p {max-width:40em;}
ul {max-width: 38em;}
table {margin:0 2em 1.5em;}
thead tr {border-bottom:1px solid #CAA;}
thead code {font-weight:bold;}
td {padding-right:2em;}
hr {margin:3em 0 0.75em; border:0; border-bottom:0.25em solid #A88;}
a {color:#C00;}
a:hover {color:#A88;}
code a {color:#622;}
abbr, .caps {font-size:0.9em;}
.hurr {color:#A88;}
